@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
html {
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', 'Open Sans', 'Roboto', 'Source Sans Pro', Arial, sans-serif;
    color: #222;
}

p {
    font-family: 'Open Sans', 'Roboto', 'Source Sans Pro', Arial, sans-serif;
    font-size: 18px;
    line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat;
    font-weight: 300;
}

.custom-hr {
    border: 2px solid;
    width: 10%;
    color: #fd5c63;
}

.heading-name {
    width: 50%;
    min-height: 50px;
    height: auto;
}

.hero {
    align-items: center;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    color: #000;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    height: 100px;
    padding: 0px;
    padding-top: 0px;
    /* Transition properties for fading out into another image */
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

nav {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

.nav-link {
    color: black;
}

a:link .navbar-brand {
    color: black;
}

.fixed-top.scrolled {
    background-color: #222 !important;
    transition: background-color 200ms linear;
}

.section {
    padding: 1em;
}

.section-heading {
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: 500;
}

.section-description {
    font-size: 1em;
    font-weight: 300;
}

.placeholder-img {
    padding: 1em;
}

.vertical-align {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

#footer {
    color: azure;
    background-color: black;
}

.brand-title {
    font-weight: 300;
}

#footer .brand-title {
    font-size: 2em;
    padding: 2em;
}

.footer-links {
    padding: 2em;
}

.credit {
    padding: 1em;
}

#about {
    background-color: #f6f9fc;
}

.cover-brand-title {
    font-weight: 300;
    font-size: 5em;
}

.cover-description {
    font-size: 1em;
}

.cover-subtitle {
    font-size: 1.4em;
}