@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400|Quicksand:300,400|Nunito+Sans:300,400");
html {
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: "Nunito Sans", "Open Sans", "Roboto", "Source Sans Pro", Arial, sans-serif;
    color: #222;
}

p {
    font-family: "Nunito Sans", "Open Sans", "Roboto", "Source Sans Pro", Arial, sans-serif;
    font-size: 18px;
    line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat;
    font-weight: 300;
}

.custom-hr {
    border: 2px solid;
    width: 10%;
    color: #fd5c63;
}

.heading-name {
    width: 50%;
    min-height: 50px;
    height: auto;
}

.cover-heading {
    font-family: "Great Vibes";
    color: #fd5c63;
    font-size: 108px;
}

.cover-subtitle {
    font-family: Montserrat;
    font-size: 20px;
    color: #222;
}

.section {
    padding: 3em;
}

.section-heading {
    font-size: 2.5em;
    text-transform: uppercase;
    color: #fd5c63;
}

.section-content {
    padding-top: 3em;
}

.bg {
    /* The image used */
    background-image: url("../images/bg-images/cover.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover {
    min-height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    background-position: center;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    /* Transition properties for fading out into another image */
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

.brand-logo {
    font-family: Montserrat;
    color: black;
    font-size: 18px;
    font-weight: 300;
}

.fa-bars {
    color: black;
}

nav {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

.nav-link {
    color: black;
}

@media screen and (max-width: 768px) {
    .navbar-nav {
        /* background-color: rgba(0, 0, 0, 0.7); */
    }
}

.fixed-top.scrolled {
    background-color: #222 !important;
    transition: background-color 200ms linear;
}

#about-more {
    display: none;
}

#about-full {
    background-color: #fd5c63;
}

#about-full .card-body {
    color: white;
}

.services-heading {
    padding-top: 1em;
    padding-bottom: 1em;
}

.services-img {
    max-height: 400px;
}

.services-description {
    font-size: 1em;
}

.gallery-row {
    padding: 1em;
}

#text-carousel {
    width: 100%;
    height: auto;
    padding: 50px;
}

.carousel-inner {
    min-height: 500px;
}

.carousel-item.active {
    display: block;
}

.carousel-content {
    color: black;
    display: flex;
    align-items: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: red;
}

.carousel-control-prev-icon:hover,
.carousel-control-prev-icon:active,
.carousel-control-next-icon:hover,
.carousel-control-next-icon:active {
    color: #222;
}

.testimonial-control-icons {
    color: red;
}

.carousel-indicators li {
    background-color: #fd5c63;
}

.carousel-indicators .active {
    background-color: #222;
}

.testimonial-picture {
    height: 150px;
    margin: 1em;
}

.testimonial-name {
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
}

.testimonial-content {
    font-size: 1em;
}

.connect-icon {
    color: #222;
    padding: 0.7em;
}

#footer {
    background-color: #222;
}

.footer-content {
    font-family: Montserrat;
    color: white;
}

.footer-link {
    color: white;
    text-transform: uppercase;
    font-size: 0.9em;
    margin: 2em;
    font-family: Montserrat;
    font-weight: 300;
}

.footer-link:hover {
    color: #fd5c63;
    text-decoration: none;
}

.custom-footer-hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 20%;
}

.credits {
    font-family: Montserrat;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 300;
}

.credits-link {
    color: #fd5c63;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 1.2em;
}

.credits-link:hover {
    color: white;
    text-decoration: none;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.filter-dark {
    overflow: hidden;
    position: relative;
    color: #fff;
}

.filter-dark:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: ' ';
    background: rgba(34, 34, 34, 0.8);
}

.filter-light {
    overflow: hidden;
    position: relative;
    color: #212529;
}

.filter-light:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: ' ';
    background: rgba(243, 243, 243, 0.75);
}

.filter-gradient {
    overflow: hidden;
    position: relative;
    color: #fff;
}

.filter-gradient:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: ' ';
    background: rgba(0, 0, 0, 0.5);
}

.custom-btn-2 {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    color: #222;
    font-family: Montserrat;
    text-transform: uppercase;
    background-color: #fff;
    font-weight: 400;
    text-align: center;
    outline: none;
    text-decoration: none;
    border-radius: 0;
}

.custom-btn-2:hover,
.custom-btn-2:active {
    background-color: #AA4246;
    border-color: #AA4246;
    color: #fff;
    transition: color 0.3s ease-in, background-color 0.3s ease-in, border-color 0.3s ease-in;
}

.custom-btn-3 {
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    color: #fff;
    font-family: Montserrat;
    text-transform: uppercase;
    background-color: #fd5c63;
    font-weight: 400;
    text-align: center;
    outline: none;
    text-decoration: none;
    border-radius: 0;
}

.custom-btn-3:hover,
.custom-btn-3:active {
    background-color: #fff;
    border-color: #fd5c63;
    color: #fd5c63;
    transition: color 0.3s ease-in, background-color 0.3s ease-in, border-color 0.3s ease-in;
}

#portfolio .gallery-row img {
    -webkit-filter: grayscale(100%);
}

#portfolio .gallery-row img:hover {
    -webkit-filter: grayscale(0%);
}

@media (min-width: 768px) {
    .parallax {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 768px) {
    .parallax {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.fab {
    color: white;
}

.contact-form-heading {
    color: #222;
}